/* TestMM_update_park.html */

.containerMM_update {
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 93%;
    width: 97%;
    background-color: white;
    border-radius: 10px;

}

.margin {
    height: 100%;
    margin: 2%;
}

.tab-name-con {
    height: 75px;
    display: flex;
    align-items: center;
}

.tab-name {
    background-color: #2f373a;
    color: white;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    /* margin: 1%; */
}

/* a 태그 밑줄 제거 */
a {
    text-decoration-line: none;
    color: black;
}

.material-table {
    /* width: 100%; */
    background: white;
    border: 1px solid darkgrey;
    border-collapse: collapse;
    /* margin: 0 1%; */
}

.material-th {
    width: 1000px;
    /* height: 100px; */
    border: 1px solid darkgrey;
    background-color: #2f373a;
    color: white;

}

.material-td {
    /* width: 1000px; */
    /* width: 20%; */
    text-align: center;
    border: 1px solid darkgrey;
}

input {
    /* width: 100%; */
    width: 95%;
}

.div_none {
    height: 10px;
}

.div_button {
    text-align: right;
    /* margin: 0 1%; */
}

#btn_update_confirm {
    background-color: #2f373a;
}

.btn_text_color {
    color: white;
}