/* TestMM_main_park.html */

.containerMM {
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 92%;
    background-color: white;
    width: 97%;
    border-radius: 10px;
    /* min-width: ; */
}

.material-table {
    background: white;
    
    /* width: 1000px; */
    border: 1px solid darkgrey;
    border-collapse: collapse;
    margin: 0 1%;
}

.material-th {
    width: 1000px;
    border: 1px solid darkgrey;
    background-color: #2f373a;
    color: white;
}

.material-td {
    /* width: 1000px; */
    text-align: center;
    border: 1px solid darkgrey;
}

/* a 태그 밑줄 제거 */
a {
    text-decoration-line: none;
    color: black;
}

.div_none {
    height: 10px;
}

.div_button {
    text-align: right;
    height: 100px;
    margin: 0 1%;
}

.btn_main_order, .btn_main_update, #btn_main_add, #btn_main_delete {
    background-color: #2f373a;
    
}

.btn_text_color {
    color: white;
}

.flex_page {
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 50px;
    align-items: center;
    min-width: 300px;
    justify-self: center;
}

.item_page {
    border: 1px solid darkgrey;
    height: 60%;
    width: 58%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.pre_page, .next_page {
    width: 30%;
}

.bold {
    font-weight: bold;
}


.tab-name-con{
    /* width: 100px; */
    height: 75px;
    display: flex;
    align-items: center;
    /* border: 5px solid  darkgrey; */
}
.tab-name{
    /* border: 1px solid  darkgrey; */
    background-color: #2f373a;
    color: white;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 1%;
}
