.dayWork-T {
    padding: 0 20px;
}

.dayWork-T td {
    border-bottom: 1px solid darkblue;
    /* border-top: 1px solid darkblue; */
    text-align: center;
    height: 30px;
}

.ssLine td {
    width: 70px;
}

#table-T {
    margin: 0;
}

.lineManu td {
    width: 140px;
    border: 1px solid black;
}

.ssTable table,
.ssTable tr,
.ssTable th,
.ssTable td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 35px;
}

.ssTable td {
    /* width: 25%; */
    text-align: center;
}

.ssTable {
    border: 1px solid black;
}

.ssTable table {
    width: 100%;
}

.schedule table,
.schedule tr,
.schedule th,
.schedule td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 35px;
}

.schedule table {
    width: 100%;
    /* border: 1px solid black; */

}

.schedule {
    /* margin: 20px 0; */
    width: 60%;
}
.schedule_con{
    height: 300px;
    border: 1px solid black;
    overflow-y: auto
}
.pm_ssmanu {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    /* text-align: left; */

    display: flex;
    flex-direction: column;
    align-items: center

}

.ssTitle {
    /* border: 1px solid blue; */
    text-align: center;
    font-weight: 600;
    height: 20px;
}

.pm_ssmanu div {
    margin: 10px 20px 0;
}

.ss {
    width: 100%;
    display: flex;
    justify-content: flex-start
}

.ssInventory {
    width: 100px;
}

.point {
    background-color: darkred;
    color: white;
}

.pm_correction {
    margin: 0 0 0 10px;
    width: 40%;
}

.pr_correction {
    margin: 0 0 0 10px;
    width: 40%;
}

.pm_correction_con {
    /* border: 1px solid blue; */
    display: flex;
    height: 25px;
    align-items: flex-end
}

.pm_correction_con div {
    width: 40px;
    font-size: 15px;
    height: 20px;

}

.pm_correction_con input {
    height: 15px;
}

.pm_correction_but {
    /* border: 1px solid red; */
    height: 60px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}

.pm_correction_but div {
    background-color: rgb(104, 104, 104);
    color: white;
    border: 1px solid black;
    font-size: 15px;
    width: 40px;
    height: 20px;
    text-align: center;
    margin: 20px 0px;
}

.pr_ssmanu {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    /* text-align: left; */

    display: flex;
    flex-direction: column;

}

.pr_ssmanu div {
    margin: 7px 20px 0;
}

.pr_correction_con {
    /* border: 1px solid blue; */
    display: flex;
    height: 35px;
    align-items: flex-end;
    justify-content: space-between
}

.pr_date {
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pr_correction_but {
    /* border: 1px solid red; */
    height: 70px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end
}

.pr_correction_but div {
    background-color: rgb(104, 104, 104);
    color: white;
    border: 1px solid black;
    font-size: 15px;
    width: 40px;
    height: 20px;
    text-align: center;
    margin: 20px 0px;
}

.stop {
    color: red;
    font-weight: 600;
}

.cs1 {
    width: 8%;
}

.cs2 {
    width: 13%;
}

.cs3 {
    width: 8%;
}

.cs4 {
    width: 15%;
}

.cs5 {
    width: 22%;
}

.cs6 {
    width: 22%;
}

.cs7 {
    width: 6%;
}

.cs8 {
    width: 6%;
}

.schedule1 {
    width: 15%
}

.schedule2 {
    width: 23%
}

.schedule3 {
    width: 50%
}

.schedule4 {
    width: 12%
}

@media screen and (max-width: 800px) {
    .mainManu {
        width: 100%;
        height: 18%;
    }

    .manuBut {

        text-align: center;
    }

    .manuPage {
        position: relative;
        left: -1px;
        width: 100%;
        height: 455%;
    }

    .dayWork-T {
        position: relative;
        right: 15px;
        font-size: 10px;
    }

    .cs1 {
        width: 10%;
    }

    .cs2 {
        width: 13%;
    }

    .cs3 {
        width: 10%;
    }

    .cs4 {
        width: 17%;
    }

    .cs5 {
        width: 15%;
    }

    .cs6 {
        width: 15%;
    }

    .cs7 {
        width: 8%;
    }

    .cs8 {
        width: 10%;
    }

    .schedule {
        width: 100%;
    }

    .ss {
        display: inline;
    }
    .schedule_con{
        height: 250px;
        border: 1px solid black;
        overflow-y: auto
    }
    .ssTitle{
        font-size: 15px;
    }
    .pr_ssmanu {
        border: 1px solid black;
        width: 100%;
        height: 300px;
        /* text-align: left; */
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

}