/* TestQA_report_park.html */


/* .div_report_menu{ */
/* min-width: 175px; */
/* } */


/* 반응형 웹 */
/* 모바일 */
@media screen and (max-width : 800px) {

    .t_con {
        flex-direction: column;
    }

    .hide_menu {
        display: none;
    }
}

.containerQA_report {
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 97%;
    border-radius: 10px;
    background-color: white;
    height: 93%;
    /* margin: 0 1%; */
}

.margin {
    height: 100%;
    margin: 2%;
}

.tab-name-con {
    height: 75px;
    display: flex;
    align-items: center;
}

.tab-name {
    background-color: #2f373a;
    color: white;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    /* margin: 1%; */
}

.con_1,
.con_2 {
    display: flex;
    width: 100%;
}

.div_report_parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.t_con {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#QA_color,
#QA_size,
#QA_tester,
#QA_etc,
#QA_result,
#QA_day,
#QA_fiber,
#QA_erase {
    width: 100%;
}

.div_report_name {
    /* text-align: center; */
}

.div_report_QA {
    width: 100%;
    min-width: 170px;
}

.div_report_menu {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid darkgrey;
    background-color: #2f373a;
    color: white;
}

.div_report_content {
    display: flex;
    border-right: 1px solid darkgrey;
    height: 500px;
}

.div_report_item {
    text-align: center;
    width: 100%;
    border: 1px solid darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    border-collapse: collapse;

}

/* a 태그 밑줄 제거 */
a {
    text-decoration-line: none;
    color: black;
}

.div_report_item_QA {
    display: flex;
    align-items: center;
    text-align: left;
    height: 50px;
    left: 100px;
}

.div_button {
    text-align: right;
    /* margin: 0 1%; */
}

#btn_report_confirm {
    background-color: #2f373a;
    border-radius: 3px;
}

.btn_text_color {
    color: white;
}

.div_none {
    height: 10px;
}


/* pc는 그대로 */

/* 모바일로 했을 때 나오는 레이아웃
        품질보고서
        항목 내용
        1. ~ 생산
        2. ~ 생산
        ...
        
        10.  입력
        11.  입력
        ...
    */