body{
    min-width: 500px;
    max-height: 5000px;
    margin: 0;
    /* width: 99%; */
    padding-right: 0.5%;
 }
.menu-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 5px solid #2f373a;
}
#main-menu {
    border: 1px solid rgba(255, 255, 255, 0.267);
    background-color: #2f373a;
    width: 19.8%;
    height: 80px;
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    color: white;
    font-size: 100%;
}
.menu {
    border: 1px solid rgba(255, 255, 255, 0.267);
    background-color: #2f373a;
    width: 19.8%;
    height: 80px;
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    color: white;
    font-size: 100%;
    /* font-size: 1em; */
}
.mainmenu {
    /* border: 5px solid red; */
    width: 20.1%;
    /* width: 300px; */
    height: 100%;
    background-color: #2f373a;
    min-width: 155.92px;
    color: white;
}
.board {
    border: 5px solid #2f373a;
    /* border: 5px solid pink; */
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
}
.bome-con{
    display: flex;
    flex-wrap: nowrap;
    align-items: space-between;
    /* border: 5px solid rebeccapurple; */
    height: 100%;
    width: 100%;

}

.menuBut {
    border-bottom: 2px solid black;
    text-align: center;
    height: 70px;
    line-height: 70px;   
    width: 100%;
}
.menuBut:hover {
    background-color: #9395969f;
    cursor: pointer;
}
.menu:hover, #main-menu:hover {
    background-color: #9395969f;
}
.hide{
    display: none;
}
.menuPage {
    width: 100%;
    height: 100%;
    top: -2px;
    left: 211px;
}
.menuPage-con{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: darkgrey;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(87, 59, 27, 0.329);
    height:100%;
    box-sizing: border-box;
    /* width: 80%; */
}
#head{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    /* background-color: rgba(32, 30, 30, 0.502); */
    background-color: rgba(23, 20, 20, 0.814);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.slideMenu-off{
    height: auto;
    width: 400px;
    /* border: 5px solid rgba(2, 2, 85, 0.742); */
    background-color: rgba(161, 161, 161, 0.845);
    /* background-color: rgba(0, 3, 82, 0.845); */
    position: fixed;
    z-index: 1;
    left: -400px;
    transition: right 0.5s ease-in;
}
.slideMenu-on{
    height: inherit;
    width: 400px;
    /* border: 5px solid rgba(2, 2, 85, 0.742); */
    background-color: rgba(161, 161, 161, 0.845);
    position: fixed;
    z-index: 1;
    transition: right 0.5s ease-in;
    /* left: -120px; */
}
#slideMenu{
    text-align: right;
}
#slide-x{
    display: inline-block;
    cursor: pointer;
    text-align: right;
    color: white;
    /* margin-right: 10%; */
    /* padding-right: 10%; */
    font-size: large;
    /* border: 1px solid red; */
    width: 100px;
    height: 50px;
    line-height: 50px;
    padding-right: 3%;

}
.list-td{
    box-sizing: border-box;
    border-bottom: 1px solid darkgrey;
    font-family: 'Pretendard-Regular';
}
.list-table {
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: white;
}
.title{
    /* border-bottom: 1px solid darkgrey; */
    box-sizing: border-box;
    border: 1px solid darkgrey;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
    padding-left: 2%;
    
}
.fas{
    color:white;
}
.icon, .icon-sub{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5%;
    padding-left: 1%;
}
#title-name{
    color: white;
    text-align: left;
    /* border: 1px solid red; */
    width:100%;
    height: 46px;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: large;
    align-items: center;
    /* padding-left: 1%; */
    /* padding: 0 1%; */
    background-color: #2f373a;
    border: 1px solid #2f373a;
    display: flex;
    justify-content: space-between;
}
#ham{
    cursor: pointer;
}
#arrow-up{
    color: red;
}
#arrow-down{
    color: blue;
}
.arrow{
    /* border: 1px solid red; */
    text-align: center;
    width: 20px;
}
/* ==================================================== */

.goal{
    box-sizing: border-box;
    height: 125px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid darkgrey;
    border-radius: 10px 10px;
    width: 100%;

}
.goal:hover{
    background-color: rgba(87, 59, 27, 0.329);
    cursor: pointer;
    border: 1px solid rgba(87, 59, 27, 0.329);
}
.layer{
    /* border: 5px solid blue; */
    box-sizing: border-box;
    width: 90%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
}
.border-2{
    /* border: 5px solid pink; */
    box-sizing: border-box;
    height: 50%; 
    width: 92%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 3% 3%; */
}
.border-1{
    /* border: 5px solid pink; */
    box-sizing: border-box;
    height: 50%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 3% 3%; */
}
.goal-con,.border, .border2{
    box-sizing: border-box;
    /* height: 400px; */
    /* border: 1px solid purple; */
    display: inline-flex;
    width: 35%;
    height: 100%;
    min-width: 400px;
    flex-direction: column;
    /* justify-content: space-between; */
    /* margin: 1%; */
}
.border2{
    width: 51%;
}
.border-top{
    box-sizing: border-box;
    /* height: 400px; */
    height:90%;
    /* border: 1px solid purple; */
    display: inline-flex;
    width: 85%;
    min-width: 400px;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
}
.title{
    /* border-bottom: 1px solid darkgrey; */
    box-sizing: border-box;
    border: 1px solid darkgrey;
    /* width: 100%; */
    height: 40px;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
    padding-left: 2%;
    text-align: left;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
}
.lineCon{
    overflow: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 2% 2%;
    width: 100%;
    min-width: 400px;
    height: 400px;
}
.list-con{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 2% 2%;
    width: 100%;
    /* min-width: 400px; */
    text-align: center;
    font-size: 18px;

}
#bad, #tempHu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 2% 2%;
    /* box-sizing: border-box; */
    /* width: 100%; */
    min-width: 400px;
    /* height: 200px; */
    height: 80%;
}
.dayWork{
    display: flex;
    align-content: center;
    flex-direction: row;
    /* border: 1px solid darkgrey; */
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 2% 2%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* max-height: 1000px; */
}
#dayWork-board2{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list{
    text-align: left;
    list-style-type: none;
}
#goal-line{
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    /* border: 1px solid red; */
    height: 50%;
    width: 50%;
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    margin-left: 3%;
    line-height: 30px;
    font-weight: bold;
}
.cnt{
    box-sizing: border-box;
    /* border: 1px solid darkblue; */
    display: inline-block;
    height: 30px;
    width: 220px;
    margin-top: 3%;
    text-align: right;
}
.cnt-block{
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    width: 120px;
    border: 1px solid darkblue;
    text-align: center;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    font-size: 15px;
    line-height: 30px;
}
.dayWork{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100%;
}
#dayWork-board{
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 30%;
    height: 30%;
    /* min-height: 100px; */
    display: flex ;
    flex-direction: column;
    align-items: center;
}
#day-list{
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 1px solid darkgrey;
    width: 60%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.list-con-gragh{
    height: 80%;
    /* border: 1px solid darkblue; */
}
.gragh{
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.command-table, .th2-table{ 
    border-collapse : collapse; 
    /* border: 5px solid brown; */
    width: 100%;
    height: 50%;
    min-width: 400px;
} 
.td,.th, .th2{
    /* width: 100%; */
    height: 50px;
    text-align: center;
    border: 1px solid #000;
    vertical-align: middle;
    /* border: 5px solid purple; */
   }
.th2,.th{
    background-color: darkgrey;
    /* border: 5px solid purple; */
    width: 500px;

}
/* workManage.css */
/* workManage.css */
/* workManage.css */
/* workManage.css */
/* workManage.css */
/* workManage.css */

.tab-name{
    border: 1px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 75%;
    min-width: 150px;
    
}

.command-table
,.detail-table{ border-collapse : collapse; 
;} 
.command-th
,.command-td
,.detail-th
,.detail-td{
     width: 100px;
     height: 30px;
     text-align: center;
     border: 1px solid #000;
     vertical-align: middle;   /* 가운데 */
   }
   .detail-th{
    background-color: #2f373a;
    color: white;
   }
   .detail-td{
       border: 1px solid darkgrey
   }
   .command-div{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    justify-content: center;
    min-width: 500px;
    
}
.tab-name-div{
    /* border: 5px solid purple; */
    display: flex;
    height: 10%;
    width: 15%;
    justify-content: left;
    align-items: center;
    margin-left: 5px;

}
.command-loc{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items:center;
    flex-wrap: wrap;
    /* min-width: 1000px; */
    
}
.dropBox{
    /* border: 5px solid black; */
    /* padding-left: 3%; */
    margin-left: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
form{
    margin-bottom: 1%;
}
.page-num{
    /* border: 5px solid purple; */
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 50px;
    align-items: center;
    min-width: 300px;
}
.page{
    border: 1px solid darkgrey;
    height: 60%;
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page-num-con{
    /* border: 1px solid darkblue; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}
.add-con{
    /* border: 5px solid black; */
    margin-right: 5px;
    display: flex;
    justify-content: right;
    width: 97.7%;
    /* min-width: 700px; */
}
.del,.prev{
    border: 1px solid #2f373a;
    color: white;
    background-color: #2f373a;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.prev{
    width: 80px;
    margin-left: 5px;
}
.command-table{
    /* border: 5px solid red; */
    width: 100%;
    margin: 0 5px;
    min-width: 400px;
}

.eraser-img{
    width: 150px;
    height: 150px;
}
.detail-table{
    width: 85%;
    height: 30%;
    min-width: 500px;
    overflow: scroll;
}
.add-table{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;
    width: 100%;
    justify-content: center;
    
}
.bompro-con{
    /* border: 1px solid purple; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bom-con,.process{
    padding: 3px;
    border: 1px solid darkgrey;
    width: 45%;
    height: 80%;
    overflow: scroll;
}
.select-1{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
}


.select-body{
    /* border: 5px solid pink; */
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    min-width: 300px;
}


@media (max-width: 800px){

    .board,.border-2,.dayWork{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .dayWork{
        height: 550px;
    }
    .mainmenu{
        width: 100%;
        height: 18%;
        display: inline-block;
    }
    .border,.border2{
        width: 450px;
        margin-bottom: 1%;
    }
    #day-list{
        width: 450px;
    }

    .th2-con{
        height: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: ; */
    }
    .list-con{
        width: 400px;
    }
    .hide{
        display: none;
    }



}
.th2-con{
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.th2-table{
    width: 45%;
    min-width: 90px;
}
.sub-menu{
    /* border: 5px solid red; */
    height: 58%;
    /* width: 100%; */
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 0.5%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    min-width: 127.92px;

}
.fas{
    /* color: black; */
    margin: 0;
}
#badChart,#badChart2{
    width: 90%;
}
.detail-con{
    /* border: 1px solid orange; */
    width: 82%;
    min-width: 300px;
}
@media (max-width: 800px) {
    .board{
        height: auto;
    }
    .add-table{
        display: flex;
        flex-direction: column;
        height: 583px;
    }
    .detail-con{
        overflow: scroll;
    }
    .mainmenu{
        width: 100%;
        height: 18%;
        display: inline-block;
    }
    #menuPage1{
        width: 100%;
        display: inline-block;
    } 
    .bome-con{
        display: flex;
        flex-direction: column;
    }
    .bom-con,.process{
        height: 400px;
    }
    .menuBut {
        /* border: 1px solid red; */
        text-align: center;
        height: 32%;
        line-height: 238%;
    }
    .menuPage {
        /* position: relative; */
        left: -1px;
        width: 100%;
        height: 455%;
    }
    .command-div,.command-loc{
    overflow: scroll;
    }
    .page-num-con{
        justify-content: center;
    }
    .add-con{
        justify-content: right;
    }
    .select-body{
        flex-direction: column;
        margin-bottom: 5px;
    }
    .eraser-img{
        margin-top: 5px;
    }
    .hide{
        display: none;
    }
}
.confirm-con{
    /* border: 1px solid red; */
    text-align: right;
    width: 100%;
}
.confirm{
    display: inline-block;
    text-align: center;
    border: 1px solid darkgrey;
    margin-right: 45px;
    width: 50px;
    cursor: pointer;
}
/* html에서 옮김 (끝)*/
.main-menu-con{
    display: flex;
    flex-direction: row;
}
#title-name{
    color: white;
    text-align: left;
    /* border: 1px solid red; */
    width:100%;
    height: 46px;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: large;
    align-items: center;
    /* padding-left: 1%; */
    /* padding: 0 1%; */
    background-color: #2f373a;
    border: 1px solid #2f373a;
    display: flex;
    justify-content: space-between;
}

.titleName{
    /* border: 1px solid rebeccapurple; */
    width: 10%;
    /* text-align: center; */
    min-width: 268px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-sub {
    /* border: 10px solid red; */
    display: flex;
    width: 9%;
    display: flex;
    justify-content: space-around;
    min-width: 210px;
    font-size: small;
	align-items: center;
}
.border_line{
    border-radius: 10px;
    background-color: white;
    /* border: 4px solid red; */
    height: 97%;
    width: 98%;
}
.pop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid red; */
}