/* 개발영역역 */
#pageinfo {
    display: flex;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.boardarea {
    display: flex;
    flex-direction: column;
}

.middle_board {
    width: 100%;
}

.searcharea {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.boardtable {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.boardlist>tr {
    align-items: center;
}

.num {
    text-align: center;
    width: 100px;
}

.writetitle {
    text-align: center;
    width: auto;
}

.writeuser {
    text-align: center;
    width: 120px;
}

.writedate {
    text-align: center;
    width: 120px;
}

.viewcount {
    text-align: center;
    width: 120px;
}

.pageline {
    display: flex;
    justify-content: center;
    align-items: center;
}